<header>
    <div class="container">
            <div class="row" id="navigation">
            
            <table class="col-12" border="1" cellpadding="0">
            <tbody><tr style="">
            <td style="padding:.75pt .75pt .75pt .75pt">
            <p class="cour-font" style="text-align:center;font-size:large;"><b><a href="index.html">JEY</a><o:p></o:p></b></p>
            </td>
            <td style="padding:.75pt .75pt .75pt .75pt">
            <p class="cour-font" style="text-align:center;font-size:large;"><b><a href="bio.html">Bio</a><o:p></o:p></b></p>
            </td>
            <!-- <td style="padding:.75pt .75pt .75pt .75pt">
            <p class="cour-font" style="text-align:center"><b><a href="research.html">Research</a><o:p></o:p></b></p>
            </td>
            <td style="padding:.75pt .75pt .75pt .75pt">
            <p class="cour-font" style="text-align:center"><b><a href="software.html">Software</a><o:p></o:p></b></p>
            </td>
            <td style="padding:.75pt .75pt .75pt .75pt">
                <p class="cour-font" style="text-align:center"><b><a href="students.html">Students</a><o:p></o:p></b></p>
                </td> -->
            </tr>
            </tbody>
            </table>
            
            </div>
            
        </div>

        <div class="row" id="header">
            <div class="col-md-12" style="text-align:center;">
                <h1 class="cour-font">{{page.title}}</h1>
            </div>
        </div>
    </div>
</header>