<header>
    <div class="container wrapper" style="text-align:center;">
            <!-- <div class="row" id="header">
                <div class="col-md-12" style="text-align:center;">
                    <h1 class="cour-font">{{page.title}}</h1>
                </div>
            </div> -->
            
            <div id="header" style="text-align:center;">
                <a href="index.html" class="no-underline">                
                    <h1 id="blog-title">
                    Jamie E. Young    
                    </h1>
                </a>
            </div>
            <div class="wrapper">
                <div id="blog-description" >ON-CHAIN PROFESSOR</div>
            </div>

            <div id="navigation" class="wrapper">
                <ul>
                <li class="cour-font"><b><a href="index.html" class="no-underline">JEY</a></b></li>


                <li class="cour-font"><b><a href="bio.html" class="no-underline">My Story</a></b></li>
                </ul>
            </div>
            
        </div>

    </div>
</header>